* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fefae0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    font-size: 1.3rem;
    color: #fff;
    background: #540b0e;
    max-width: 800px;
    padding: 2rem 3rem;
    border-radius: .5rem;
}

/* Champs du formulaire */
#form .input-field {
    padding: .2rem .5rem;
    font-size: 1.3rem;
    border: none;
    background-color: #540b0e;
    color: #fefae0;
    border-bottom: 1px solid #fefae0;
}

#form .input-field::placeholder {
    color: #fefae088;
}

/* le bouton d'envoi du formulaire */
#form .btn {
    padding: .25rem .5rem;
    font-size: 1.3rem;
    background-color: #fefae0;
    color: #540b0e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#form .btn:hover {
    background-color: #fefae0aa;
}